@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh04Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh05Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yekan Bakh';
  src: url('/fonts/YekanBakh06Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1b1b1b;
  /* Track color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  /* Thumb color */
  border-radius: 10px;
  border: 2px solid #1b1b1b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

:root {
  /* === Primary === */
  --primary: #1D91CC;
  --primary-tint-1: #EBF4FA;
  --primary-tint-2: #D2E9F5;
  --primary-tint-3: #BBDEF0;
  --primary-tint-4: #A5D3EB;
  --primary-tint-5: #77BDE0;
  --primary-shade-1: #1774A3;
  --primary-shade-2: #11577A;
  --primary-shade-3: #0C3A52;
  --primary-shade-4: #092B3D;
  --primary-shade-5: #061D29;

  /* === Grays === */
  --gray-1: #F9F9F9;
  --gray-2: #EDEDED;
  --gray-3: #DFDFDF;
  --gray-4: #CBCBCB;
  --gray-5: #ADADAD;
  --gray-6: #868686;
  --gray-7: #606060;
  --gray-8: #404040;
  --gray-9: #202020;
  --black: #0C0C0C;
  
  --font-yekan: 'Yekan Bakh', sans-serif;
  /* === Semantic Colors === */
  --error: #C30000;
  --error-light-1: #ED2E2E;
  --error-light-2: #FFF2F2;

  --success: #00966D;
  --success-light-1: #00BA88;
  --success-light-2: #F3FDFA;
  --warning: #A9791C;
  --warning-light-1: #F4B740;
  --warning-light-2: #FFF8E1;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

@theme inline {
  /* === Primary === */
  --color-primary: var(--primary);
  --color-primary-tint-1: var(--primary-tint-1);
  --color-primary-tint-2: var(--primary-tint-2);
  --color-primary-tint-3: var(--primary-tint-3);
  --color-primary-tint-4: var(--primary-tint-4);
  --color-primary-tint-5: var(--primary-tint-5);
  --color-primary-shade-1: var(--primary-shade-1);
  --color-primary-shade-2: var(--primary-shade-2);
  --color-primary-shade-3: var(--primary-shade-3);
  --color-primary-shade-4: var(--primary-shade-4);
  --color-primary-shade-5: var(--primary-shade-5);

  /* === Grays === */
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-black: var(--black);

  /* === Semantic Colors === */
  --color-error: var(--error);
  --color-error-light-1: var(--error-light-1);
  --color-error-light-2: var(--error-light-2);

  --color-success: var(--success);
  --color-success-light-1: var(--success-light-1);
  --color-success-light-2: var(--success-light-2);

  --color-warning: var(--warning);
  --color-warning-light-1: var(--warning-light-1);
  --color-warning-light-2: var(--warning-light-2);

  /* fonts */
  --font-yekan: var(--font-yekan);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  background: #FFFFFF;
  color: #171717;
  font-family: var(--font-yekan), sans-serif;
}

@layer utilities {
  .app-container {
    @apply w-full mx-auto px-6 sm:px-10 md:px-16 lg:px-24 xl:px-32 max-w-[1440px];
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

}